{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TakeASnip{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-zinc-900  text-gray-100 font-mono min-h-screen flex flex-col">
    <header class="bg-zinc-800 py-4 px-6 flex justify-between items-center">
    <nav class="space-x-4">
        <a href="{% url 'snippet_list' %}" class="hover:text-green-400">snippets()</a>
        {% if user.is_authenticated %}
            <a href="{% url 'snippet_create' %}" class="hover:text-green-400">add_snippet()</a>
            {% if user.is_superuser %}
            <a href="/admin/" class="hover:text-green-400">admin_panel()</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="hover:text-red-400">logout()</a>
        {% else %}
            <a href="{% url 'login' %}" class="hover:text-green-400">login()</a>
            <a href="{% url 'register' %}" class="hover:text-green-400">register()</a>
        {% endif %}
    </nav>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' user %}" class="text-sm hover:text-green-400" >~$ {{ user.username }}</a>
        {% endif %}
    </div>
    </header>
    <div id="ascii-bot" class="fixed bottom-10 right-10 transform -translate-y-1/2 z-0 text-green-400 font-mono opacity-20 px-2 pointer-events-none">
      <pre id="ascii-bot-frame" class="whitespace-pre leading-none text-[4rem]"></pre>
    </div>
    <main class="p-6 flex-grow">
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-zinc-900 text-zinc-400 py-6 mt-12">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col sm:flex-row justify-between items-center">
        <p class="text-sm">&copy; 2025 TakeASnip. All rights reserved.</p>
        <div class="mt-4 sm:mt-0 space-x-4">
          <a href="#" class="hover:text-white transition-colors text-sm">Contact</a>
            <a href="#" class="hover:text-white transition-colors text-sm">Terms Of Service</a>
            <a href="#" class="hover:text-white transition-colors text-sm">GitHub</a>
        </div>
      </div>
    </footer>
    {% block extra_js %} {% endblock %}
    <script>
      const frames = [
    `(•_•)\n<)   )╯\n/   \\ `,
    `( •_•)>⌐■-■\n<)   )╯\n/   \\ `,
    `(⌐■_■)\n<)   )╯\n/   \\ `
      ];
      let i = 0;
      setInterval(() => {
        document.getElementById("ascii-bot-frame").innerText = frames[i % frames.length];
        i++;
      }, 900);
    </script>
</body>
</html>